/* CSS reset from Josh Comeau */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

html,
body {
  height: 100dvb;
}

body {
  display: grid;
  grid-template-columns: minmax(260px, 20%) 1fr;
  grid-template-rows: min-content minmax(400px, 1fr) 250px 100px;
  grid-template-areas:
    "form form"
    "hours day-data"
    "hours days"
    "footer footer";
  background-color: aliceblue;
  gap: 1rem;
  margin-top: 1rem;
}

.hours-container {
  margin-left: 1rem;
  padding: 3px;
  grid-area: hours;
  display: grid;
  grid-template-rows: repeat(24, 45px);
  gap: 5px;
  align-items: center;
  overflow-y: auto;
  border: 2px solid rgb(157, 157, 157);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a5a5a5;
  border-radius: 5px;
}
.hour-card {
  height: 100%;
  background-color: rgba(10, 204, 204, 0.817);
  display: flex;
  align-items: center;
}
#search-form {
  grid-area: form;
  justify-self: right;
  margin-right: 1rem;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
}

#search-form label {
  font-size: 1.3rem;
  background-color: #000000;
  color: #ffffff;
  padding: 0.6rem;
}
#search-form input {
  font-size: 1.2rem;
  background-color: inherit;
  min-width: 250px;
  width: 20rem;
  padding: 0 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
}

#day-data {
  grid-area: day-data;
  margin-right: 1.2rem;
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 1rem;
}

#hour-overview,
#day-overview {
  padding: 1rem;
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 1rem;
  overflow-y: scroll;
  background-color: #0163a9d8;
}

.header-title {
  display: grid;
  grid-template-columns: 1fr minmax(25px, 50px);
  justify-items: left;
  align-items: center;
  column-gap: 10px;
  color: white;
}
.header-title p {
  font-size: 1.05rem;
}

.header-title div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

h2,
.header-title h2 + p {
  font-weight: 600;
  font-size: 1.3rem;
  word-break: normal;
}

.icon {
  align-self: center;
  height: 55px;
  width: 60px;
}

.data-body-types {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
}

#day-overview .data-body-types {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.conditions-types {
  display: grid;
  grid-template-rows: min-content 1fr;
  align-items: center;
  justify-items: center;
  background-color: rgb(255, 255, 255);
}
.conditions-types p {
  text-align: center;
  word-spacing: 1ch;
}

#day-overview .conditions-types {
  height: 120px;
}

.days-container {
  grid-area: days;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  overflow-y: scroll;
}

.day-card {
  min-height: 100px;
  max-height: 100%;
  background-color: rgb(44, 192, 215);
}
footer {
  grid-area: footer;
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

#search-btn {
  height: 50px;
  width: 40px;
  background: transparent;
  border: none;
}

#search-btn:hover {
  cursor: pointer;
  background-color: #d5d5d5;
  border-radius: 0 5px 5px 0;
}
